* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-dark-gray: #24232c;
  --color-gray: #817d92;
  --color-almost-white: #e6e5ea;
  --color-very-dark-gray: #18171f;
  --color-neon-green: #a4ffaf;
  --color-soft-red: #f64a4a;
  --color-soft-orange: #fb7c58;
  --color-soft-yellow: #f8cd65;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@font-face {
  font-family: JetBrainsMono;
  src: url(./assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

body {
  font-family: JetBrainsMono;
  background-color: black;
  padding: 6.4rem 1.6rem 0;
}

.container {
  max-width: 54rem;
  margin: 0 auto;
  border: 2px dotted var(--color-soft-red);
}

.title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-align: center;
  color: var(--color-gray);
  margin-bottom: 1.6rem;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  body {
    padding: 13.3rem 11.4rem 0;
  }
  .title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 3.1rem;
  }
}
