* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-dark-gray: #24232c;
  --color-gray: #817d92;
  --color-almost-white: #e6e5ea;
  --color-very-dark-gray: #18171f;
  --color-neon-green: #a4ffaf;
  --color-soft-red: #f64a4a;
  --color-soft-orange: #fb7c58;
  --color-soft-yellow: #f8cd65;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@font-face {
  font-family: JetBrainsMono;
  src: url(./assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

body {
  font-family: JetBrainsMono;
  background-color: var(--color-very-dark-gray);
  padding: 6.4rem 1.6rem 0;
  /* Default text values */
  color: var(--color-almost-white);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.container {
  max-width: 54rem;
  margin: 0 auto;
  border: 2px dotted var(--color-soft-red);
}

.title {
  text-align: center;
  color: var(--color-gray);
  margin-bottom: 1.6rem;
}

/* Password */
.passwordContainer {
  background-color: var(--color-dark-gray);
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.password {
  width: 60%;
  background-color: var(--color-dark-gray);
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--color-almost-white);
  border: none;
}

.copyContainer {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.copyText {
  text-transform: uppercase;
  color: var(--color-neon-green);
  margin-right: 0.5rem;
}

.copyIcon {
  cursor: pointer;
}

.copyIcon:hover path {
  fill: var(--color-almost-white);
}
/* End Password */

/* Input */
.inputContainer {
  background-color: var(--color-dark-gray);
  padding: 1.6rem;
}

.characterLength {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lengthNumber {
  color: var(--color-neon-green);
  font-size: 2.4rem;
  line-height: 3.2rem;
}

/* Slider */
.sliderContainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.8rem;
  background: linear-gradient(
    90deg,
    var(--color-very-dark-gray) 60%,
    var(--color-very-dark-gray) 60%
  );
  outline: none;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--color-almost-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--color-almost-white);
  border-radius: 50%;
  cursor: pointer;
}
/* End Slider */
/* End Input */

/* Media Queries */
@media screen and (min-width: 768px) {
  body {
    padding: 13.3rem 11.4rem 0;
  }
  .title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 3.1rem;
  }

  .lengthText {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .lengthNumber {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
